Order Deny,Allow
Deny from all

<Files ~ "\.(html|xml|css|jpe?g|png|gif|js|pdf)$">
  Allow from all
</Files>

<Files ~ "(index|login|logout|add-article|article-submit|articles-list|delete-article|users-list)\.php$">
  Allow from all
</Files>